<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nature_net.Properties.Settings.nature_netConnectionString_aces"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-aces;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nature_net.Properties.Settings.nature_netConnectionString_umd"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-umd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nature_net.Properties.Settings.nature_netConnectionString_uncc"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-uncc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nature_net.Properties.Settings.nature_netConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=nature-net-aces;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

<!--CCISUR40-1WWS-->
<!--CCIBIO-SQLHIC-->
<!--(local)-->
